.main_layout {
  display: grid;
  grid-template-areas:
    'header header header'
    'left_side main right_side';
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-gap: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .main_layout {
    grid-template-areas:
      'header'
      'main';

    grid-template-columns: repeat(1, 1fr);
  }

  .main {
    padding: 1rem;
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.left_side {
  grid-area: left_side;
}

.right_side {
  grid-area: right_side;
}
